body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    background-color: #3d149b;
}

.Text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: .08em solid black;
    width: 0;
    animation: typing 5s steps(22),
        blink .55s step-end infinite;
    animation-iteration-count: infinite;
    font-family: 'Poppins', sans-serif;
}

@keyframes typing {
    0% {
        width: 0
    }

    33% {
        width: 100%
    }

    100% {
        width: 100%
    }
}

@keyframes blink {

    50% {
        border-color: transparent
    }
}

.color {
        color: rgb(16, 218, 76);
        ;
    }